extends layout

block content    
  h1 Self Service Helpdesk 
  h2 Ticket Erstellen 
  each ticketType in ticketTypes
    if ticketType.active
      a(href=`ticket/${ticketType.shortName}`) #{ticketType.typeName}
      br