extends layout

block content
  script(src="javascripts/newTicketLayout.js") 
    
  h1 Self Service Helpdesk 
  h2 Ticket Erstellen 
  each ticketType in ticketTypes
    a(href=`${ticketType.typeName}`) #{ticketType.typeName}