doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/systemFontStack.css')
    link(rel='stylesheet', href='/stylesheets/textStyle.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    block content
