doctype html
html
  head
    title Self Service Helpdesk
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/systemFontStack.css')
    link(rel='stylesheet', href='/stylesheets/textStyle.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    div#gridContainer
      button#menuToggle(type="button")  
        img(src="/images/menu.svg", alt="", srcset="")
      nav
        ul
          li
            span 
              a(href="/") Home
          if !user
            li  
              a(href="/login") Login
            li
              a(href='/signup') Sign Up
          else 
            li
              a(href="/logout") Logout
            li  
              a(href="/ticketsDashboard") Ticket-Dashboard
            li
              a(href='/createTemplate') Formular-Vorlage erstellen
            li
              a(href='/manageTemplates') Formular-Vorlagen bearbeiten
      div
        block content
    script(src="/javascripts/menuToggle.js") 
