doctype html
html
  head
    title Self Service Helpdesk
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/systemFontStack.css')
    link(rel='stylesheet', href='/stylesheets/textStyle.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    nav
      ul
        li
          span 
            a(href="/") Home
        if !user
          li  | 
            span
              a(href="/login") Login
          li  | 
            span
              a(href='/signup') Sign Up
        else 
          li  | 
            span  
              a(href="/logout") Logout
          li  | 
            span 
              a(href="/ticketsDashboard") Ticket-Dashboard
          li  | 
            span 
              a(href='/createTemplate') Formular-Vorlage erstellen
          li  | 
            span 
              a(href='/manageTemplates') Formular-Vorlagen bearbeiten
    block content
