doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/systemFontStack.css')
    link(rel='stylesheet', href='/stylesheets/textStyle.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    nav
      ul
        li
          if !user
            div
              a(href="login") Login
          else 
              a(href="logout") Logout
    block content
