extends layout

block content
  h1 Create Ticket
  form
    label(for="firstName")
    input#firstName(type="text", name="firstName")
    label(for="lastName") 
    input#lastName(type="text", name="lastName")
    label(for="email") 
    input#email(type="email", name="email")
    button(type="submit") 