extends layout

block content
  h1 Create Ticket
  form(method="POST")
    div
      label(for="firstName") First Name: 
      input#firstName(type="text", name="firstName")
    div
      label(for="lastName") Last Name: 
      input#lastName(type="text", name="lastName")
    div
      label(for="email") Email: 
      input#email(type="email", name="email")
    button(type="submit") Submit