extends layout

block content
  script.
    function handleTicketTypeChange() {
      const hardwareInstallationFields = document.querySelector('#hardwareInstallationFields');
      hardwareInstallationFields.style.display = ticketType.value === 'hardwareInstallation' ?
        'block' : 'none';
    }
    document.addEventListener('DOMContentLoaded', function() {
      handleTicketTypeChange();
    });
  h1 Create Ticket
  form(method="POST")
    div
      label(for="ticketType") 
      select#ticketType(name="ticketType", onchange='handleTicketTypeChange()') 
        option(value="hardwareInstallation")  Hardware Installation
        option(value='otherOption' selected) Other Option
    div#hardwareInstallationFields
      div
        label(for="oldLocation") Old Location
        input#oldLocation(type="text", name="oldLocation")
      div
        label(for="newLocation") New Location
        input#newLocation(type="text", name="newLocation")
      div 
        label(for="hardware") Hardware
        input#hardware(type="text", name="hardware")
    div
      label(for="firstName") First Name: 
      input#firstName(type="text", name="firstName")
    div
      label(for="lastName") Last Name: 
      input#lastName(type="text", name="lastName")
    div
      label(for="email") Email: 
      input#email(type="email", name="email")
    button(type="submit") Submit